<p>list works!</p>

@for (book of books; track book.id) {
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title> {{book.title}} </mat-card-title>
      <mat-card-subtitle> {{book.author}} </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-fab aria-label="Button with a favorite icon">
        <mat-icon>FAVORITE</mat-icon>
      </button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  
}

